body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;

}


.form-container {
  width: 20%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%; 
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group .radio-group {
  display: flex;
  align-items: center;
}

.form-group .radio-input {
  margin-right: 10px;
}

.form-group .radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-group .radio-label span {
  margin-left: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.submit-button {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  float: inline-end;
}

.submit-button:hover {
  background-color: #45a049;
}
